body {
    margin: 4px auto;
    width: 56vw;
    background-image: url(imgs/XiCvTnp.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: aliceblue;
    background-color: lightslategrey;
    border: 5px outset rgba(1, 1, 73, 0.8);
}

h1 {

    text-align: center;
    margin: 25px 18px;
    letter-spacing: 5px;

    background-color: lightslategray;
    border: 5px outset rgba(1, 1, 73, 0.8);
    color: rgb(1, 1, 73);


}

h1::first-letter {
    font-size: 200%;
    color: rgb(1, 1, 73);
}

#img {
    border-radius: 60%;
    height: 25rem;
    border: inset;
    border-color: lightslategray
}



#id1 {
    justify-content: space-around;
    display: flex;
    align-items: center;
}



#name {
    font-family: serif;
    font-size: xx-large;
}

#web {
    font-size: large;
    direction: rtl;
    font-family: 'Courgette', cursive;
}

#navv ul {
    list-style: none;
    display: flex;
    margin: 4%;
    justify-content: space-around;
}

#navv ul li a {
    font-size: 24px;
    text-decoration: none;
    color: black
}

#navv ul li a:hover {
    font-size: 28px;
}


#profile-section {
    text-align: center;
}

.profile {
    font-size: 1.8vw;
    font-family: cursive;
}



#exp {

    text-align: center;
    margin-block-start: 2em;
    margin-block-end: 1.2em;
    font-size: 2vw;


}



li {
    font-size: 1.4rem;
    font-family: 'Courgette', cursive;

}

main {
    margin: 4rem;
    border-top: groove;
    border-color: lightslategray;
}

#section-and {
    display: flex;
    margin-block: 2rem;
    justify-content: space-around;
}


#skills {

    display: flex;
    align-items: baseline;
    font-size: 1.5rem;

}


#section-and ul {

    list-style: circle;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightslategray;
    padding: 0.1rem 3rem;
    border: 5px outset rgba(1, 1, 73, 0.8);
    color: rgb(1, 1, 73);
    margin: 25px 18px;

}

footer * {
    color: rgb(1, 1, 73);

}

@media only screen and (max-width: 800px) {
    #img {
        border-radius: 60%;
        height: 180px;
        width: 140px;

    }

    #id1 {
        flex-direction: column;
    }

    #navv ul li a {
        font-size: 20px;

    }

    #navv ul li a:hover {
        font-size: 22px;
    }

    main {
        margin: 2rem;

    }

    li {
        font-size: 1rem;
        ;

    }



    #section-and {
        flex-direction: column;
        margin-block: 1rem;

    }

    #skills {


        font-size: 1rem;

    }

    footer {
        flex-direction: column;
        padding: 0rem 3rem;

        margin: 20px 12px;

    }


}
