body {}


.navbar {
    background-color: black;
}

.navbar .navbar-brand img {
    width: 40%;
}

.navbar .navbar-nav .nav-link {
    color: white;
}


.navbar .navbar-nav .nav-link:hover {
    color: aqua
}

.navbar .container button {
    background-color: rgb(59, 153, 153)
}

/* herooooo */

#Ebook-hero {
    height: 88vh;
    background-image: url(imgs/roman-mager-oHrodCLNnU8-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}

.shadow-lg {
    background-color: rgba(0, 0, 0, 0.715);
}

.shadow-lg h1,
.main .tit h2 {
    color: rgb(59, 153, 153)
}

.container-fluid .mb-3 button {
    margin-left: -3rem;
}


/* main */
.main .tit i {
    font-size: 5rem;
}

.main .container .row a {
    background-color: rgb(59, 153, 153)
}

.main .container .row img {
    height: 15rem;
}

/* footer */
.footer .card {
    background-color: rgba(0, 0, 0, 0.715);
}

.footer a {
    background-color: rgb(59, 153, 153)
}